@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

#text {
    font: 125% 'Inter', sans-serif;
}


#btn {
    font: 100% 'Inter', sans-serif;
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
}